@import "./variable.scss";
@import "./responsive.scss";

@mixin title-h1 {
  text-align: center;
  color: $text-color;
  padding: 20px 0 10px 0;
  background: $background-header-color;
  margin: 0;
  padding-bottom: 0;
  font-size: 3.49rem;
  font-weight: 300;

  @include respond(phone) {
  }

  @include respond(tab-900) {
  }

  @include respond(tab-1200) {
  }
}

@mixin svg {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
  padding: 5px;
  @include respond(phone) {
    width: 25px;
    height: 25px;
    padding: 0;
  }

  &:hover {
    background: rgba(52, 49, 76, 0.1);
  }

  @include respond(phone) {
  }

  @include respond(tab-900) {
  }

  @include respond(tab-1200) {
  }
}
